* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  font-size: 62.5% rem;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  width: 100%;
  max-width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 8px 48px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1200px) {
  .calendar {
    max-width: 25rem;
    height: 33rem;
  }
}
.month {
  width: 100%;
  height: 12rem;
  background-color: #4169E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1200px) {
  .month {
    height: 6rem;
  }
}
.month i {
  font-size: 2.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .month i {
    font-size: 1.2rem;
  }
}
.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1200px) {
  .month h1 {
    font-size: 1.5rem;
  }
}
.month p {
  font-size: 1.6rem;
}
@media only screen and (max-width: 1200px) {
  .month p {
    font-size: 1rem;
  }
}
.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}
.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1200px) {
  .weekdays div {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .weekdays div {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 360px) {
  .weekdays div {
    width: calc(20.5rem / 7);
  }
}
@media only screen and (max-width: 350px) {
  .weekdays div {
    width: calc(18rem / 7);
  }
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}
.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}
@media only screen and (max-width: 1200px) {
  .days div {
    font-size: 0.9rem;
    width: calc(17.2rem / 7);
    height: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .days div {
    width: calc(16.2rem / 7);
  }
}
@media only screen and (max-width: 380px) {
  .days div {
    width: calc(15.2rem / 7);
  }
}
@media only screen and (max-width: 360px) {
  .days div {
    width: calc(13.8rem / 7);
  }
}
.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}
.prev-date,
.next-date {
  opacity: 0.5;
}
.today {
  background-color: #4169E1;
}
