@1400: ~"only screen and (max-width: 1400px)";
@1350: ~"only screen and (max-width: 1350px)";
@1300: ~"only screen and (max-width: 1300px)";
@1200: ~"only screen and (max-width: 1200px)";
@1100: ~"only screen and (max-width: 1100px)";
@1024: ~"only screen and (max-width: 1024px)";
@950: ~"only screen and (max-width: 950px)";
@900: ~"only screen and (max-width: 900px)";
@850: ~"only screen and (max-width: 850px)";
@800: ~"only screen and (max-width: 800px)";
@768: ~"only screen and (max-width: 768px)";
@750: ~"only screen and (max-width: 750px)";
@700: ~"only screen and (max-width: 700px)";
@650: ~"only screen and (max-width: 650px)";
@600: ~"only screen and (max-width: 600px)";
@560: ~"only screen and (max-width: 560px)";
@320: ~"only screen and (max-width: 320px)";
@380: ~"only screen and (max-width: 380px)";
@400: ~"only screen and (max-width: 400px)";
@hover: ~"only screen and (min-width: 1100px)";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5% rem;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calendar {
    width: 100%;
    max-width: 720px;
    height: 830px;
    background-color: #222227;
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.4);

}

.month {
    width: 100%;
    height: 12rem;
    background-color: #4169E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    text-align: center;
    text-shadow:  0 0.3rem 0.5rem rgba(0,0,0,0.5);


    i {
        font-size: 2.5rem;
        cursor: pointer;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom:  1rem;
        
    }

    p {
        font-size: 1.6rem;
    }
}


.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;

    div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);

    }
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;

    div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(40.2rem / 7);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
        transition: background-color 0.2s;

        &:hover:not(.today){
            background-color: #262626;
            border: 0.2rem solid #777;
            cursor: pointer;
        }

    }

}

.prev-date, 
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #4169E1;
}

